[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
user = user
password = pass

[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice = 0
syslog

[mysqld]
user = mysql
pid-file = /var/run/mysqld/mysqld.pid
port = 3306
bind-address = 0.0.0.0
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp
language = /usr/share/mysql/english
character_set_server = utf8
collation-server = utf8_general_ci
skip-character-set-client-handshake
init-connect = 'SET NAMES utf8'
skip-external-locking
skip-name-resolve
low-priority-updates
key_buffer_size = 512M
max_allowed_packet = 64M
thread_stack = 512K
thread_cache_size = 64
sort_buffer = 256M
thread_concurrency = 6
myisam-recover = BACKUP
query_cache_limit = 4M
query_cache_size = 64M
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 10
expire_logs_days = 10
max_binlog_size = 100M
max_sort_length = 16
group_concat_max_len = 1048576

[mysqldump]
quick
quote-names
max_allowed_packet = 64M

[isamchk]
key_buffer_size = 64M
